{% extends "archiwum/layout.html" %}
{%block title%}Archiwum dokumentów | Wyszukiwarka{%endblock%}
{%block content%}
<p>Aby wyszukać dokument wpisz jego nazwę, wybierz kategorię lub typ dokumentu</p>
<form id="formularze" action="" method="get">
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Szukaj"/>
</form>
<div id="documents">
{% for document in documents.object_list %}
<h3><a href="/documents/{{document.id}}">{{document.title}}</a></h3>
<p>{{document.description}}</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
	    {% if documents.has_previous %}
		    <a href="?pae={{ documents.previous_page_number }}&search_text=">Poprzednia</a>
			{% endif %}
			
		<span class="current">
			Strona {{ documents.number }} z {{ documents.paginator.num_pages }}
		</span>
			
		{% if documents.has_next %}
		<a href="?page={{ documents.next_page_number }}&search_text=">Następna</a>
		{% endif %}
	</span>
</div>
</div>
<div id="sidebar">
<h3>Kategorie</h3>
    <ul class="categories">
	{% for c in document_categories %}
	<li><a href="/documents/cat/{{c.slug}}">{{c.name}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
