{% extends 'archiwum/layout.html' %}
{% block content %}
<br>
<h1>Aby wysłać wiadomość do administratora skorzystaj z poniższego formularza:</h1>
{% if form.errors %}
    <p>Popraw błędy:</p>
{% endif %}
<div id="formularze">
<form method="post" action="">{% csrf_token %}
<dl>
<dt><label for="id_subject">{{form.subject.label}}</label></dt>
<div id="emptylist">{{ form.subject.errors }}</div>
<dd>{{ form.subject }}</dd>
<dt><label for="id_message">{{form.message.label}}</label></dt>
<div id="emptylist">{{ form.message.errors }}</div>
<dd>{{ form.message }}</dd>
</dl>
<input type="submit" name="send" value="Wyślij!" />
<input type="submit" name="cancel" value="anuluj" />
</form>
</div>
{% endblock %}
